body {
    color:white;
    background: #2b3538;
    background: #000000;
    background: -webkit-linear-gradient(142deg, rgba(0, 0, 0, 1) 0%, rgba(102, 102, 102, 1) 75%, rgba(207, 207, 207, 1) 100%, rgba(255, 255, 255, 1) 100%);
    background: -moz-linear-gradient(142deg, rgba(0, 0, 0, 1) 0%, rgba(102, 102, 102, 1) 75%, rgba(207, 207, 207, 1) 100%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(142deg, rgba(0, 0, 0, 1) 0%, rgba(102, 102, 102, 1) 75%, rgba(207, 207, 207, 1) 100%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#FFFFFF", GradientType=0);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    }

    @media(max-width: 450px){
        .Card-Site{ width: 335px;}

        body{
            background-position: center;
            background-size: 3150px 4410px;
        }
        
        img.ImagemPH {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 3px solid white;
        margin: 20px;
        }
    }
        @media (max-width: 450px) {
        img.ImagemPH {
        width: 400px;
        height: auto;   /* mantém proporção */
        border-radius: 50%;
        border: 3px solid white;
        max-width: 90%; /* evita overflow em telas muito pequenas */
        }

        img.gitHubLogo{
            width: 270px;
            height: 270px;
        }

        img.whppLogo{
            width: 270px;
            height: 270px;
        }

        img.instaLogo{
            width: 270px;
            height: 270px;
        }

        a.LINKS{
            width: 12px;
            padding: 250px;
            align-items: center;
        }

        a.desenvolvedor-link{
            font-size: 70px;
            padding-right: 950px;
        }

        a.projetos-link{
            font-size: 70px;
        }

        h2{
            font-size: 80px;
            width: 1500px;
            margin: 20px;
            margin-top: 50px;
        }

        footer a{
            padding: 10;
        }

        .center{
            width: 1780px;
            height: 430px;
        }

        p{
            width: 1750px;
            font-size: 70px;
            margin: 25px;
            margin-top: 50px;
        }
        
        a{
            align-items: center;
        }
    }

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    }

a{
    color: #D4D4D4;
    text-decoration: none;
 }

.spotify-link:hover{
    color: #1DB954;
    transition: all 0.3;
}

.desenvolvedor-link:hover{
    color: rgb(170, 6, 211);
    transition: 0,3
}

.segundaGuerra-link:hover{
    color: rgb(187, 63, 63);
}

        img{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 3px solid white;
        }

    .center{
        text-align: center;
        justify-content: space-between;
    }

    footer img{
        width: 55px;
        height: 55px;
    }

    footer{
        justify-content: space-between;
        display: flex;
    }

    footer a{
        align-items: center;
        padding: 202px;
    }

    footer p{
        margin-top: 2px;
    }

    nav a:hover{
        color: #FFFFFF ;
        transition: all 0.3s ease-in-out;
    }