body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1990' height='1020' preserveAspectRatio='none' viewBox='0 0 1990 1020'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2758%26quot%3b)' fill='none'%3e%3crect width='1990' height='1020' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2759%26quot%3b)'%3e%3c/rect%3e%3cpath d='M0 0L525.42 0L0 233.47z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 233.47L525.42 0L851.0899999999999 0L0 425.9z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 425.9L851.0899999999999 0L1210.12 0L0 475.26z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 475.26L1210.12 0L1508.8899999999999 0L0 734.8499999999999z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1990 1020L1988.8 1020L1990 580z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1990 580L1988.8 1020L1373.99 1020L1990 556.92z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1990 556.9200000000001L1373.99 1020L1287.48 1020L1990 301.9200000000001z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1990 301.9200000000001L1287.48 1020L628.02 1020L1990 265.7100000000001z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2758'%3e%3crect width='1990' height='1020' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2759'%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='0.42'%3e%3c/stop%3e%3cstop stop-color='rgba(64%2c 63%2c 63%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: black;
    text-decoration: none;
}

.Facebook-button{
    background-color: blue;
}

.Telefone-button{
    background-color: #282828;
}

.Telefone-branco{
    color: aliceblue;
}

ul{
    list-style-type: none;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 0;
    margin: 0;
}

.container{
    padding: 300px;
}

button{
    border: 1px solid white;
    margin: 5px auto;
    padding: 10px 20px;

    background-color: #1EB955;
    border-radius: 500px;
    font-weight: 700;
    width: 192px;
}

.card{

    padding: 15px;
    background-color: #282828;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
}

img{
    height: 45px;
    width: 165px;
}

input{
    border: 1px solid white;
    margin: 5px auto;
    padding: 10px 20px;

    background-color: rgb(201, 201, 201);
    border-radius: 500px;
    font-weight: 700;
    width: 150px;
}
